*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', Arial;
  scroll-behavior: smooth;
}

body{
  background: #363636;
}

.navmenu{
  background: #222222;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu_container{
  background: #222222;
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 2;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
}

#manu__logo{
  background-color: #b3d4fc;
  background-image: linear-gradient(to top, #ff0844 0%, #b3d4fc 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  z-index: 2;
}

.nar__menu_proper{
  background: #222222;
  display: flex;
  align-items: center;
  list-style: none;
}

.menu__item{
  height: 60px;
}

.menu__links{
  background: #222222;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.25s ease;
}

.menu__links:hover{
  color: #ff0844;
  transition: all 0.25s ease;
}

.meme_gallery{
  z-index: 0;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.meme_container{
  display: flex;
  justify-content: center;
}

.image_boxes{
  display: grid;
  grid-column: 1;
  justify-content: space-between;
  padding: 0 0 0 0;
  list-style: none;
}

.meme_item{
  align-items: center;
  margin: auto auto 5px 5px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  background: #282828;
  border: #888888;
  border-radius: 5px;
}

.meme{
  object-fit: contain;
  width: 100%;
  max-width: 500px;
}

.title{
  background: transparent;
  color: #ffffff;
  display: flex;
  align-content: start;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px;
  z-index: 2;
}

.ads{
  z-index: 999;
  align-items: center;
  margin: auto;
  padding: 10px;
  position: sticky;
  display: grid;
  grid-row: 1;
}

.ad_1{
  justify-content: right;
}

.ad_2{
  justify-content: left;
}

.ad_img{
  height: 500px;
  width: 100px;
}

.footer__container{
  background: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo{
  color: #ffffff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.footer__links{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  background: #131313;
}

.footer__link_wrapper{
  display: flex;
  background: #131313;
}

.footer__link_item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
  background: #131313;
}

.footer__link_item h2{
  margin-bottom: 16px;
  color: #ffffff;
  background: #131313;
}

.footer__link_item a{
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-out;
  background: #131313;
}

.footer__link_item a:hover{
  color: #ff0844;
  transition: 0.3s ease-out;
}

.votes{
  background: transparent;
}

.upvote_arrow{
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 30px;
  float: left;
  margin: 2px;
}

.upvote_cnt{
  color: #ff0844;
  background: transparent;
  text-decoration: none;
  float: left;
  margin: 7px;
  font-size: 20px;
}

.share{
  cursor: pointer;
  height: 30px;
  float: right;
  background: transparent;
  margin: 2px;
}

.wrapper_login{
  background-color: #282828;
}

.login_container{
  display: flex;
  justify-content: center;
  background-color: #363636;
}

.login_panel{
  background-color: #282828;
  color: white;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
}

.login_container input, .login_container label{
  display: block;
  margin: 10px 0;
  background-color: #282828;
  width: 100%;
}

.login_container input{
  color: white;
  padding: 16px 20px;
}

.login_container button{
  width: 100%;
  padding: 16px 20px;
  background-color: #282828;
  color: white;
}

.login_container button:hover{
  background-color: #222222;
}

.upload_title{
  color: white;
  text-align: center;
  margin: 10px 0 20px;
}

.upload_meme{
  display: flex;
  flex-direction: column;
  color: white;
}

.upload_meme input {
  width: 100%;
}

.upload_meme input[type="file"]{
  display: none;
}

.upload_meme .input_file{
  border: 1px solid black;
  color: white;
  margin: 20px 0;
  padding: 20px 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.upload_meme button{
  width: 100%;
  padding: 16px 20px;
  background-color: #282828;
  color: white;
  margin-top: 10px;
}

.upload_meme button:hover{
  background-color: #222222;
}

.message {
  text-align: center;
  color: white;
  font-size: 2em;
  margin: 50px;
  padding: 20px 10px;
  background-color: #282828;
}

@media screen and (max-width: 1000px) {
  .menu_container{
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 2;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .nar__menu_proper{
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    transition:  all 0.5s ease;
    z-index: -1;
  }

  .nar__menu_proper.active{
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    height: 75%;
    font-size: 1.5rem;
  }

  #manu__logo{
    padding: 20px;
    margin: 10px;
  }

  .nav__menu{
    margin: 35px;
    background: #131313;
    z-index: 2;
  }

  .nav__menu .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    z-index: 2;
    transition: all 0.25s ease-in-out;
    background: #fff;
  }

  .menu__item{
    width: 100%;
    z-index: 1;
  }

  .menu__links{
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    z-index: 1;
  }

  #mobile-menu{
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%,20%);
  }

  .nav__menu .bar{
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(1){
    transform: translateY(-8px) rotate(-45deg);
  }

  .meme_item{
    margin: 15px 15px 5px 5px;
  }
}

@media screen and (max-width: 820px){
  .footer__links{
    padding-top: 2rem;
  }

  #footer__logo{
    margin-bottom: 2rem;
  }

  .footer__link_wrapper{
    flex-direction: column;
  }
}

@media screen and (max-width: 480px){
  .footer__link_item{
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}
